<%= form_tag( { :action => "merge_with", :id => @article.id },
    :id => "merge_with_form", :enctype => "multipart/form-data") do %>

<div class='editor-left'>
  <h4>Merge Articles</h4>
  <div class='class'>
    <%= label_tag 'merge_with', "Article id", :style => 'text-align: left; width: 80px' %>
    <%= text_field_tag 'merge_with' %>
    <%= submit_tag "Merge" %>
  </div>
</div>

<% end %>
